<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Simple Search Engine</title>
</head>
<body>
    <h1>Welcome to the Simple Search Engine!</h1>
    <img src="{{url_for('static', filename='logo.jpg')}}" />
    <form method="post" action="{{ url_for('home') }}">
        <label for="query">Enter your search query:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
